# Build directories
build/

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt
!cmake/

# Object files
*.o
*.obj
*.elf
*.hex
*.bin
*.map
*.su

# STM32CubeMX files
*.ioc
